@font-face {
    font-family: 'Abys-Regular';
    src: url("/assets/fonts/Abys-Regular.otf");
}

@font-face {
    font-family: 'Atma-Bold';
    src: url("/assets/fonts/Atma-Bold.ttf");
}


@font-face {
    font-family: 'Brusher';
    src: url("/assets/fonts/Brusher.ttf");
}

@font-face {
    font-family: 'AppSILR';
    src: url("/assets/fonts/AppSILR.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
}

/* Navigation */

body {
    background-color: #fff3c1;
}

nav {
    font-family: 'Atma-Bold';
    text-transform: uppercase;
    margin: 1% 12% 0 12%;
    letter-spacing: .05em;
    display: flex;
    justify-content: space-between;
    color: black;
    height: 6.5vh;
}


nav h1 {
    font-size: 1.9rem;
    text-transform: none;
    padding-top: 2vh;
}


nav h1 img {
    position: relative;
    top: -1vh;
    width: 3.5vw;
}

nav h1 span {
    position: relative;
    top: -3.3vh;

}

nav ul {
    list-style: none;
    text-decoration: none;
}


nav ul li {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 25px;
    padding-top: 3.5%;
    opacity: 1;
}

nav ul li a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

nav ul li a:hover {
    cursor: pointer;
}

.donate {
    background-color: #0036ce;
    border-radius: 3rem;
    padding: 5% 15%;
    color: white;
}

/* Front Page */


.container {
    height: 100%;
}

.home {
    padding-bottom: 34.4vh;
    display: flex;
    padding-left: 9vw;
    padding-right: 10.5vw;

    /* justify-content: space-evenly; */
}

.words {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 18vh;
    /* left: -20vw; */
}

.words h1 img {
    width: 12.5vw;
}

.words h1 span {
    font-family: "Atma-Bold";
    font-size: 5vw;
    color: #0036ce;
    position: relative;
    top: -5vh;
    left: -1.5vw;
}

.words p {
    text-align: center;
    font-size: 2vw;
    position: relative;
    top: -3vh;
    font-family: 'AppSILR';
    line-height: 1.2;
}

.video {
    position: relative;
    left: 4vw;
    top: 25vh;
    /* margin-left: 5vw; */

}

.scroll-down {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 3.5%;
    text-align: center;
    display: inline-block;
    font-size: 2.5rem;
    color: white;
    animation: move 1s infinite alternate;
}

@keyframes move {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(16px);
    }
}

.sub-pages {
    font-family: 'AppSILR';
}

.title {
    text-align: center;
    font-size: 3rem;
    color: blue;
    text-decoration: underline;
    font-family: "Atma-Bold";
}


.row {
    display: flex;
    flex-direction: row;
    padding: 0% 15% 4% 15%;
    justify-content: space-between;
    margin-top: 5vh;
}

.card {
    width: 20vw;
    height: 45vh;
    background: white;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
    /* border: 1.5px solid black; */
}

.card h1 {
    font-family: "Atma-Bold";
    /* font-family: 'AppSILR'; */
    padding: 7.5% 10% 5% 10%;
    font-size: 2vw;
}

.card h3 {
    margin-top: 1vh;
    font-weight: 00;
    padding: 0% 15% 0% 15%;
    height: 22vh;
    font-size: 1.18vw;
    margin-bottom: 2vh;
}

.card a {
    background: #0036ce;
    border-radius: 50px;
    color: white;
    padding: 5% 7.5%;
    font-size: 1.25rem;
    text-decoration: none;
    width: 10vw;
    height: auto;
}

.sponsers{
    margin-top: 5vh;
    padding-bottom: 7.5vh;
}

.grid {
    display: grid;
	grid-template-columns: repeat(2, minmax(100px, 1fr));
	grid-gap: 6em;
    margin: 3rem auto;
    width: 55%;
}

.place {
    border: 1px solid rgba(0,0,0,.125);
    background-color: #fff;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place img {
    width: 15vw;
    height: auto;
    display: inline-block;
    margin-top: 1em;
}

.image {
    height: 36vh;
}

.place a, .person h1{
    padding-bottom: .5vh;
    padding-top: 1vh;

    font-family: "Atma-Bold";
    text-transform: none;
    font-size: 2rem;
    display: inline-block;
    color: #0036ce;
}

.place h2, .person h2 {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'AppSILR';
}

.contact {
    margin-top: 10vh;
    text-align: center;
}
.contact h2:nth-child(1){
    font-family: "Atma-Bold";
    font-size: 2rem;

}

.contact h2:nth-child(2){
    font-family: 'AppSILR';
    font-size: 1.75rem;

}

.contact span {
    color: #0036ce;
}
.t-grid {
    display: grid;
	grid-template-columns: repeat(3, minmax(100px, 1fr));
	grid-gap: 1.5em;
    margin: 3rem auto;
    width: 70%;
}

.person {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .place {
    border: 1px solid rgba(0,0,0,.125);
    background-color: #fff;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.person img {
    border-radius: 10px;
    width: 20vw;
    height: 50vh;
}

footer {
    height: 1%;
    margin-top: 5%;
    padding-bottom: 1%;
    text-align: center;
    /* width: 75%; */
    /* background-color: white; */
    /* display: flex;
    justify-content: center;
    vertical-align: middle; */
}

hr {
    height: 3px;
    background-color: #0036ce;
    outline: none;
    border: none;
    margin: 0 15% 0 15%;
    border-radius: 25px;
    margin-bottom: 1%;
    opacity: .6;
    position: relative;
    top: 2vh;
}

footer {
    font-family: 'AppSILR';
}
footer .copyright{
    font-size: 2rem;
    color: #0036ce;
}

footer .copyright strong{
    font-family: 'AppSILR';
}

footer .copyright img {
    position: relative;
    top: 1.5vh;
    width: 3vw;
    height: auto;
}

footer ul, footer div {
    display: block;
    list-style: none;
}

footer ul li {
    margin: 1em;
    display: inline-block;
}
  
footer ul li a {
    font-size: 2rem;
    width: 20px;
    height: 20px;
    border-radius: 4rem;
    line-height: 30px;
    color: #0036ce;
}

@media (min-aspect-ratio: 16/10) {
    .place img {
        width: 15vw;
        height: auto;
        display: inline-block;
        margin-top: 1em;
    }
    .image {
        height: 27.5vh;
    }

    .place h2 {
        font-size: 1.25vw;
    }

}

